<!DOCTYPE html>
<html>
    <head>
        <style>
               body{
                background: #ecf0f3;
            }
             h2{
                font-size:30px;
                padding:10px 5px 5px 5px;
                text-align: center;

            }
            p{
                font-size:20px;
                padding:10px 10px 10px 10px;
            }
            ul{
                padding-left:20px;
                font-size:19px;
                list-style:circle;
            }
            li{
                line-height: 1.5em;
                padding-left:30px;
            }
            .login_area{
                border:4px solid salmon;
                width:40%;
                height:60vh;
                margin-top:80px;
                margin-left:340px;
                background-color:#c85410c9;
                margin-bottom:80px ;
            }
            .login_area div{
                margin-top:15px;
                margin-left:30px;
                margin-bottom:5px;
            }
            .login_area input{
                padding: 10px 30px 10px 10px;
            }
            .login_area button{
                padding:10px 10px 10px 10px;
                margin-top:45px;
                margin-left:15%;
                background-color: transparent;
                cursor:pointer;
                
            }
            .login_area button:hover{
                transition: 2s;
                z-index: 2;
                background-color: salmon;
            }
            
        </style>
    </head>
    <body>
        <%- include ('reusables/header')%>
        <h2>PASSWORD RESET</h2>
        <p>Enter new password. Ensure: </p>
        <ul>
            <li>Password is case sensitive.</li>
            <li>Must be at least 8 characters long.</li>
            <li>Must not include any of the following values: password, test.</li>
            <li>Must not include part of your name or user name.</li>
            <li>Must not include a common word or commonly used sequence of characters.</li>
        </ul>

       <div class="login_area">
        
            <form class="form1" action="/Strathbud/Admin/passwordRecovery" method="POST">
                <div>
                    <label for="AdmID">Admin Number:</label>
                    <input type="number" id="AdmID" name="AdmID">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit">Change Password</button>
            </form>
        </div>
        
       <%- include ('reusables/footer')%>
    </body>
</html>