<!DOCTYPE html>
<html>
    <head>
        <style>
            .footer{
                height:35vh;
                background-color:rgba(144, 18, 18, 0.868);
                margin-top:auto;
                

            }
        </style>
    </head>
    <body>
       <section class="footer">
            <div>
                <h3>Strathmore University</h3>
                
            </div>
            <div>
                
            </div>
            <div>
                <p>&copy StrathBud <%= new Date().getFullYear()%></p>
            </div>
       </section>
    </body>
</html>