<!DOCTYPE HTML>
<html>
    <head>
        <style>
            * {
                margin: 0;
                padding: 0;
               
            }
            .header{
                display:flex;
                align-items:center;
                justify-content: space-between;
                height:120px;
                background-color:rgba(153, 20, 20, 0.868);
                width:100%;
                top:0;
                border-bottom: 2px solid #8e1c1c;
            }
            .header h2{
                padding-left:39px;
                padding-right:10px;
                font-size:45px;
                padding-top:35px;
                text-align:center;
                color:rgba(255, 255, 255, 0.877);

            }
            .header img {
                width: 250px; /* Adjust the width as needed */
                height: auto; /* Maintain aspect ratio */
                position: relative;
                top: 0;
                left: 0;
            }

            .links{
                display:flex;
                list-style: none;
            }

            .links li{
                padding-left:5px;
                font-size:15px;
                padding-right:5px;
                padding-top:80px;
           
            }
            .links li a{
                text-decoration:none;
                color:rgba(255, 255, 255, 0.877);
            }
            
        </style>
    </head>
    <body>
        <section class="header">
          <img src="/imgs/logo 2.png" alt="Logo">
          <h2>STRATHBUD</h2>
          <nav class="navLinks">
            <ul class="links">
              <li><a href="/Strathbud/">HOME</a></li>
              <li><a href="/Strathbud/about">ABOUT</a></li>
              <li><a href="/Strathbud/Admin">ADMIN</a></li>
            </ul>
          </nav>
        </section>
      </body>
      
</html>