<!DOCTYPE HTML>
<html>
    <head>
        <style>
           
            .menu-header{
                display:flex;
                align-items:center;
                justify-content: space-between;
                height:70px;
                background-color:rgba(139, 24, 24, 0.909);
                width:100%;
                

            }
            .menu-header h2{
                padding-left:39px;
                padding-right:10px;
                font-size:45px;
                padding-top:35px;
                text-align:center;
                color:rgba(255, 255, 255, 0.877);

            }
         

            .menu-links{
                display:flex;
                list-style: none;
            }

            .menu-links li{
                padding-left:30px;
                font-size:20px;
                padding-right:5px;
                padding-top:20px;

           
            }
            .menu-links li a{
                text-decoration:none;
                color:rgba(255, 255, 255, 0.877);
            }
            .menu-links li a:hover{
                color:rgba(30, 29, 29, 0.877);
            }
            
        </style>
    </head>
    <body>
        <section class="menu-header">
         
          <nav class="navLinks">
            <ul class="menu-links">
              <li><a href="/StrathBud/Sports">SPORTS</a></li>
              <li><a href="/StrathBud/Events">EVENTS</a></li>
              <li><a href="/StrathBud/ClubsandSocieties">CLUBS & SOCIETIES</a></li>
              <li><a href="/StrathBud/SocialAmenities">SOCIAL AMENITIES</a></li>
              <li><a href="/Strathbud/Grievances">GRIEVANCES</a></li>
              <li><a href="">UPCOMING PROJECTS</a></li>
              <li><a href="/StrathBud/Locations">LOCATIONS</a></li>
            </ul>
          </nav>
        </section>
      </body>
      
</html>